/* File Explorer Item Label */
.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row .monaco-icon-label .label-name {
  font-family: "Geist Mono", monospace !important;
  font-weight: 400 !important;
  color: #fff !important;
}
/* Scroll Bar */
.slider {
  position: absolute !important;
  right: 1px !important;
  width: 1px !important;
  background: #c4a3f3 !important;
  left: auto !important;
}
.decorationsOverviewRuler {
  width: 1px !important;
}
/* Command palette text input */
.quick-input-filter .monaco-inputbox {
  border-radius: 8px !important;
  padding: 4px 8px !important;
  border: none !important;
  background-color: rgba(24, 24, 36, 0.4) !important;
  font-family: "Geist Mono" !important;
  font-size: 14px !important;
  margin-bottom: 16px !important;
}

.letterpress {
  background-image: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3000 3000' width='3000' height='3000'%3E%3Cstyle%3E.a%7Bfill:%23231f20%7D.b%7Bfill:%2372778C%7D%3C/style%3E%3Cpath class='a' d='m1584.8 1639.1l-4 3.9v-7.9z'/%3E%3Cpath class='b' d='m799.6 684.5h592.2l105.7 808.5h5l105.7-808.5h592.2v1631h-363.9v-1268.1h-4l-210.4 1268.1h-244.2l-210.4-1268.1h-4v1268.1h-363.9z'/%3E%3Cpath class='b' d='m1163.5 2418.1c0 12.8-10.4 23.2-23.2 23.2h-443.2c-12.8 0-23.3-10.4-23.3-23.2v-396.7c0-12.8 10.5-23.2 23.3-23.2 12.8 0 23.2 10.4 23.2 23.2v350.2c0 12.8 10.4 23.2 23.3 23.2h396.7c12.8 0 23.2 10.4 23.2 23.3z'/%3E%3Cpath class='b' d='m1836.5 581.9c0-12.8 10.4-23.2 23.2-23.2h443.2c12.8 0 23.3 10.4 23.3 23.2v396.7c0 12.8-10.5 23.2-23.3 23.2-12.8 0-23.2-10.4-23.2-23.2v-350.2c0-12.8-10.5-23.2-23.3-23.2h-396.7c-12.8 0-23.2-10.4-23.2-23.3z'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}
